@font-face {
    font-family: 'epfont';
    src: url('fonts/iconfont/iconfont.eot');
    /* IE9*/
    src: url('fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont/iconfont.woff') format('woff'), /* chrome銆乫irefox */
    url('fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*/
    url('fonts/iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}



/*.ep{
    font-family:"epfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}*/

.ep {
    display: inline-block;
    font: normal normal normal 14px/1 "epfont";
    font-family: "epfont" !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;*/
    -moz-osx-font-smoothing: grayscale;
}

[class^="ep-"],
[class*="ep-"] {
    display: inline-block;
    font: normal normal normal 14px/1 "epfont";
    font-family: "epfont" !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;*/
    -moz-osx-font-smoothing: grayscale;
}


/*寮瑰嚭灞�/


/*鎴愬姛*/

.ep-success:before  {
    content: "\e60f";
}


/*鎻愮ず*/

.ep-info:before  {
    content: "\e608";
}


/*璀﹀憡*/

.ep-warning:before  {
    content: "\e603";
}


/*閿欒*/

.ep-danger:before  {
    content: "\e613";
}

.ep-danger-thin:before  {
    content: "\e613";
}

/*鐤戦棶*/

.ep-question:before  {
    content: "\e60a";
}

/*灏忎笁瑙�/
.ep-arrow-up:before{
  content: "\e607";
}

.ep-arrow-down:before{
  content: "\e609";
}

.ep-arrow-left:before{
  content: "\e60c";
}

.ep-arrow-right:before{
  content: "\e60b";
}

/*灞曞紑*/
.ep-down:before{
  content: "\e614";
}

/*鏀惰捣*/
.ep-up:before{
  content: "\e615";
}

/*宸︿晶锛堟敹璧枫�灞曞紑銆佸皬鍦嗙偣锛�/
.ep-side-hide:before{
   content: "\e61b";
}
.ep-side-show:before{
   content: "\e61a";
}
.ep-side-circle:before{
   content: "\e619";
}

/*缂栬緫*/
.ep-edit:before {
    content: "\e600";
}
/*涓嬭浇*/
.ep-download:before{
    content: "\e602";
}

/*鍙戦�*/
.ep-send:before{
    content: "\e62a";
}

/*棰勮*/
.ep-preview:before{
    content: "\e62b";
}

/*鏁版嵁*/
.ep-data:before{
    content: "\e62c";
}

/*鏇村*/
.ep-more:before{
    content: "\e62f";
}

/*鍒嗕韩*/
.ep-share:before{
    content: "\e62d";
}

/*鎶ヨ〃*/
.ep-chart:before{
    content: "\e642";
}

/*澶嶅埗*/
.ep-copy:before{
    content: "\e62e";
}

/*鍒犻櫎*/
.ep-delete:before{
    content: "\e606";
}

/*鐢ㄦ埛*/
.ep-user:before{
    content: "\e627";
}
/*浼佷笟*/
.ep-comp:before{
    content: "\e628";
}
/*瀵嗙爜*/
.ep-password:before{
    content: "\e629";
}
/*鎵嬫満*/
.ep-mobile:before{
    content: "\e626";
}

/*鎵竴鎵�/
.ep-saoyisao:before{
    content: "\e605";
}

/*鎼滅储*/
.ep-search:before{
    content: "\e616";
}

/*鍔犲彿*/
.ep-add:before{
    content: "\e624";
}

.ep-add-thin:before{
    content: "\e64e";
}

/*鏃堕棿*/
.ep-time:before{
    content: "\e63a";
}

/*杩戞湡鍙戦�鎯呭喌*/
.ep-jinqifasong:before{
    content: "\e63b";
}

/*鏉冮檺淇敼*/
.ep-quanxianxiugai:before{
    content: "\e63c";

}

/*杩斿洖*/
.ep-back:before{
    content: "\e622";
}

/*鏃ユ湡*/
.ep-date:before{
    content: "\e61e";
}

/*鍒犻櫎琛�/
.ep-delete-row:before{
    content: "\e623";
}

/*鍔ㄦ�鏁版嵁*/
.ep-dynamic-data:before{
    content: "\e651";
}

/*璇︽儏*/
.ep-detail:before{
    content: "\e630";
}

/*QQ*/
.ep-qq:before{
    content: "\e617";
}

/*瀹㈡湇*/
.ep-service:before{
    content: "\e612";
}

/*甯姪*/
.ep-help:before{
    content: "\e611";
}

/*鐢佃瘽*/
.ep-tel:before{
    content: "\e618";
}

/*鍥炲埌椤堕儴*/
.ep-back-to-top:before{
    content: "\e60d";
}

/*妯℃澘*/
.ep-template:before{
   content: "\e675"; 
}

/*鎺堟潈*/
.ep-authorization:before{
   content: "\e676"; 
}

/*can.zhang*/
/*璁¤垂绫诲瀷*/
.ep-jifeileixing:before{
    content: '\e63d';
}

/*鐘舵�*/
.ep-zhuangtai:before{
    content: '\e63f';
}

/*琛屼笟*/
.ep-xingye:before{
    content: '\e646';
}

/*鍏抽棴*/
.ep-guanbi:before,.ep-close:before{
    content: '\e643';
}


/*澧炲姞*/
.ep-zengjia:before{
    content: '\e624';
}

/*鍚敤,寮�惎*/
.ep-qidong:before{
    content: '\e635';
}

/*绂佺敤*/
.ep-jinyong:before{
    content: '\e645';
}

/*浣欓*/
.ep-yue:before{
    content: '\e63e';
}

/*鍙崇澶�/
.ep-youjiantou:before{
    content: '\e60b';
}

/*鏌ョ湅*/
.ep-chakan:before{
    content: '\e60e';
}

/*鐧藉悕鍗�/
.ep-whitelist:before{
    content: '\e64b';
}

/*榛戝悕鍗�/
.ep-blacklist:before{
    content: '\e64a';
}

/*鏌ョ湅*/
.ep-view:before{
    content: '\e60e';
}

/*娑堟伅*/
.ep-news:before{
    content: '\e610';
}

/*娑堟伅绫诲瀷*/
.ep-newstype:before{
    content: '\e654';
}

/*瀵煎嚭*/
.ep-export:before{
    content: '\e652';
}

/*鍙戦�鏂瑰紡*/
.ep-sendmode:before{
    content: '\e653';
}

/*鍥炲*/
.ep-reply:before{
    content: '\e650';
}

/*寰俊*/
.ep-weixin:before{
    content: '\e655';
}

/*閲嶅彂*/
.ep-zhongfa:before{
    content: '\e64d';
}

/*鏄庣粏*/
.ep-mingxi:before{
    content: '\e630';
}
/*璐墿杞�/
.ep-shoppingcar:before{
    content: '\e657';
}

/*浜岀淮鐮�/
.ep-erweima:before{
    content: '\e659';
}

/*涓璁板綍*/
.ep-zhongjiang:before{
    content: '\e658';
}

/*閭�*/
.ep-invite:before{
    content: '\e65b';
}

/*绉诲姩*/
.ep-move:before{
    content: '\e65a';
}


/*鏂囨湰*/
.ep-text:before{
    content: '\e61f';
}
/*瑙嗛*/
.ep-video:before{
    content: '\e663';
}

/*璇煶*/
.ep-voice:before{
    content: '\e662';
}
/*鍥剧墖*/
.ep-pic:before{
    content: '\e65c';
}
/*鍥炬枃*/
.ep-pictext:before{
    content: '\e65d';
}
/*鐭俊*/
.ep-mes:before{
    content: '\e661';
}
/*寰俊*/
.ep-wechat:before{
    content: '\e655';
}
/*瀹㈡埛绔�/
.ep-app:before{
    content: '\e65e';
}
/*e淇�/
.ep-exin:before{
    content: '\e660';
}
/*褰╀俊*/
.ep-caixin:before{
    content: '\e65f';
}

/*鐢熸棩*/
.ep-brithday:before{
    content: '\e64c';
}
/*澶辫触*/
.ep-fail:before{
    content: '\e664';
}
/*鍙戦�鏂瑰紡*/
.ep-sendfile:before{
    content: '\e653';
}

/*鏈熷垔绠＄悊*/
.ep-qkem:before{
    content: '\e669';
}


/*閾炬帴*/
.ep-link:before{
    content: '\e668';
}
/*璁剧疆*/
.ep-set:before{
    content: '\e665';
}
/*鍙戝竷*/
.ep-release:before{
    content: '\e667';
}
/*椹冲洖*/
.ep-reject:before{
    content: '\e666';
}
/*鏁板瓧*/
.ep-nums:before{
    content: "\e620";
}

/*鍗曢�*/
.ep-radio:before{
    content: "\e61d";
}
/*澶氶�*/
.ep-check:before{
    content: "\e61c";
}
/*閫氳褰�/
.ep-contact:before{
    content: "\e625";
}

/*瀹℃牳*/
.ep-examine:before{
	content: "\e639";
	}
	
/*淇濆瓨*/
.ep-save:before{
    content: "\e621";
}
/*鏂囦欢涓婁紶*/
.ep-file-up:before{
    content: "\e601";
}

/*鐣欒█*/
.ep-leave-mes:before{
    content: "\e66c";
}
/*缁熻*/
.ep-statistics:before{
    content: "\e66d";
}
/*鎶曞奖*/
.ep-project:before{
    content: "\e66f";
}

/*绠＄悊*/
.ep-manage:before{
    content: "\e671";
}

/*閫氱煡*/
.ep-notice:before{
    content: "\e672";
}

/*鏄熸爣*/
.ep-star:before{
    content: "\e674";
}

/*鏍囩缁�/
.ep-labelgroup:before{
    content: "\e673";
}
/*slide left*/
.ep-left:before{
    content: "\e678";
}
/*slide right*/
.ep-right:before{
    content: "\e677";
}
/*square*/
.ep-square:before{
    content: "\e67a";
}
/*list*/
.ep-list:before{
    content: "\e679";
}
/*閮ㄩ棬*/
.ep-depa:before {
  content: "\e638";
}
/*涓汉鏄庣粏*/
.ep-persDeta:before {
  content: "\e640";
}
/*淇℃伅闂嵎鍔�/
.ep-info-quest:before {
  content: "\e641";
}

/*缃《*/
.ep-top:before {
  content: "\e60d";
}

/*闄勪欢*/
.ep-attach:before{
  content: "\e67b";  
}

/*瀹℃牳涓�/
.ep-audit:before{
  content: "\e66e";  
}
/*鍏抽棴*/
.ep-stop:before {
    content: "\e633";
}
/*閫�洖*/
.ep-revoke:before {
    content: '\e656';
}