@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icon/icomoon.eot?hpsxfp');
  src:  url('../../fonts/icon/icomoon.eot?hpsxfp#iefix') format('embedded-opentype'),
    url('../../fonts/icon/icomoon.ttf?hpsxfp') format('truetype'),
    url('../../fonts/icon/icomoon.woff?hpsxfp') format('woff'),
    url('../../fonts/icon/icomoon.svg?hpsxfp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Baocuo:before {
  content: "\e930";
}
.icon-Download-failed:before {
  content: "\e931";
}
.icon-download:before {
  content: "\e932";
}
.icon-share:before {
  content: "\e933";
}
.icon-Unread:before {
  content: "\e934";
}