<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.flaginfo.dao.PersonNotifyMapper" >
  <resultMap id="BaseResultMap" type="cn.com.flaginfo.pojo.PersonNotify" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="publish_people" property="publishPeople" jdbcType="VARCHAR" />
    <result column="publish_organize" property="publishOrganize" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sp_id" property="spId" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="publish_org_id" property="publishOrgId" jdbcType="VARCHAR" />
    <result column="publish_type" property="publishType" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="publish_people_id" property="publishPeopleId" jdbcType="VARCHAR" />
    <result column="notify_type" property="notifyType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, publish_people, publish_organize, publish_time, status, create_user_name, 
    create_user_id, create_time, update_user_name, update_user_id, update_time, sp_id, 
    del, publish_org_id, publish_type, content, publish_people_id, notify_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.flaginfo.example.PersonNotifyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from person_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from person_notify
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from person_notify
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.flaginfo.example.PersonNotifyExample" >
    delete from person_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.flaginfo.pojo.PersonNotify" >
    insert into person_notify (id, title, publish_people, 
      publish_organize, publish_time, status, 
      create_user_name, create_user_id, create_time, 
      update_user_name, update_user_id, update_time, 
      sp_id, del, publish_org_id, 
      publish_type, content, publish_people_id, 
      notify_type)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{publishPeople,jdbcType=VARCHAR}, 
      #{publishOrganize,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserName,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{spId,jdbcType=VARCHAR}, #{del,jdbcType=INTEGER}, #{publishOrgId,jdbcType=VARCHAR}, 
      #{publishType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{publishPeopleId,jdbcType=VARCHAR}, 
      #{notifyType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.flaginfo.pojo.PersonNotify" >
    insert into person_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="publishPeople != null" >
        publish_people,
      </if>
      <if test="publishOrganize != null" >
        publish_organize,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="del != null" >
        del,
      </if>
      <if test="publishOrgId != null" >
        publish_org_id,
      </if>
      <if test="publishType != null" >
        publish_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="publishPeopleId != null" >
        publish_people_id,
      </if>
      <if test="notifyType != null" >
        notify_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishPeople != null" >
        #{publishPeople,jdbcType=VARCHAR},
      </if>
      <if test="publishOrganize != null" >
        #{publishOrganize,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=INTEGER},
      </if>
      <if test="publishOrgId != null" >
        #{publishOrgId,jdbcType=VARCHAR},
      </if>
      <if test="publishType != null" >
        #{publishType,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishPeopleId != null" >
        #{publishPeopleId,jdbcType=VARCHAR},
      </if>
      <if test="notifyType != null" >
        #{notifyType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.flaginfo.example.PersonNotifyExample" resultType="java.lang.Integer" >
    select count(*) from person_notify
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update person_notify
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.publishPeople != null" >
        publish_people = #{record.publishPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.publishOrganize != null" >
        publish_organize = #{record.publishOrganize,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserName != null" >
        update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.spId != null" >
        sp_id = #{record.spId,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null" >
        del = #{record.del,jdbcType=INTEGER},
      </if>
      <if test="record.publishOrgId != null" >
        publish_org_id = #{record.publishOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.publishType != null" >
        publish_type = #{record.publishType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.publishPeopleId != null" >
        publish_people_id = #{record.publishPeopleId,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyType != null" >
        notify_type = #{record.notifyType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update person_notify
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      publish_people = #{record.publishPeople,jdbcType=VARCHAR},
      publish_organize = #{record.publishOrganize,jdbcType=VARCHAR},
      publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      sp_id = #{record.spId,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=INTEGER},
      publish_org_id = #{record.publishOrgId,jdbcType=VARCHAR},
      publish_type = #{record.publishType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      publish_people_id = #{record.publishPeopleId,jdbcType=VARCHAR},
      notify_type = #{record.notifyType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.flaginfo.pojo.PersonNotify" >
    update person_notify
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishPeople != null" >
        publish_people = #{publishPeople,jdbcType=VARCHAR},
      </if>
      <if test="publishOrganize != null" >
        publish_organize = #{publishOrganize,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spId != null" >
        sp_id = #{spId,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=INTEGER},
      </if>
      <if test="publishOrgId != null" >
        publish_org_id = #{publishOrgId,jdbcType=VARCHAR},
      </if>
      <if test="publishType != null" >
        publish_type = #{publishType,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishPeopleId != null" >
        publish_people_id = #{publishPeopleId,jdbcType=VARCHAR},
      </if>
      <if test="notifyType != null" >
        notify_type = #{notifyType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.flaginfo.pojo.PersonNotify" >
    update person_notify
    set title = #{title,jdbcType=VARCHAR},
      publish_people = #{publishPeople,jdbcType=VARCHAR},
      publish_organize = #{publishOrganize,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sp_id = #{spId,jdbcType=VARCHAR},
      del = #{del,jdbcType=INTEGER},
      publish_org_id = #{publishOrgId,jdbcType=VARCHAR},
      publish_type = #{publishType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      publish_people_id = #{publishPeopleId,jdbcType=VARCHAR},
      notify_type = #{notifyType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>